<app-navbar></app-navbar>
<br><br><br>
<div align=center>
  <mat-card class="animate__animated animate__fadeIn">
    <h1 class="card-title">PANEL DE ADMINISTRADOR</h1>
    <mat-card-content>
      <div class="btn-dashboard-container">
        <div class="top-buttons">
          <button mat-icon-button class="my-btn btn-dashboard orange-button" (click)="goTo('/dashboard-admin/my-profile')" >
            <img src="../../../assets/my-profile.png" alt="Mi perfil" class="btn-image">
            <br>
            <p>Mi perfil</p>
          </button>
          <button mat-icon-button class="my-btn btn-dashboard orange-button" (click)="goTo('/dashboard-admin/users')">
            <img src="../../../assets/users.png" alt="Usuarios" class="btn-image">
            <br>
            <p>Usuarios</p>
          </button>
        </div>
        <div class="bottom-buttons">
          <button mat-icon-button class="my-btn btn-dashboard orange-button" (click)="goTo('/dashboard-admin/statistics')">
            <img src="../../../assets/chart.png" alt="Estadísticas" class="btn-image">
            <br>
            <p>Estadísticas</p>
          </button>
          <button mat-icon-button class="my-btn btn-dashboard orange-button" (click)="goTo('/dashboard-admin/appointments')">
            <img src="../../../assets/appointment.png" alt="Turnos" class="btn-image">
            <br>
            <p>Turnos</p>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>