<mat-card class="p-4 animate__animated animate__fadeIn">
	<h1 class="app-text-primary fw-bold text-center text-uppercase mb-4">
		Listado de Turnos
	</h1>

	<mat-form-field *ngIf="hasAppointments" appearance="outline" class="w-100 mt-3">
		<mat-label>{{ searchPlaceholder }}</mat-label>
		<input matInput type="text" (input)="onSearch($event)">
	</mat-form-field>

	<div *ngIf="!hasAppointments" class="text-center py-5 fs-5 text-muted">
		Todavía no hay turnos.
	</div>

	<div *ngIf="hasAppointments && !hasFilteredAppointments" class="text-center py-5 fs-5 text-muted">
		No se encontraron resultados para tu búsqueda.
	</div>

	<table class="table table-striped text-center align-middle">
		<thead *ngIf="hasFilteredAppointments">
			<tr>
				<th *ngIf="role !== 'patient'">Paciente</th>
				<th *ngIf="role !== 'specialist'">Especialista</th>
				<th>Especialidad</th>
				<th>Día</th>
				<th>Horario</th>
				<th>Estado</th>
				<th>Acciones sobre los turnos</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let app of filteredAppointments">
				<td *ngIf="role !== 'patient'">
					{{ getPatientName(app.patientUid) }}
				</td>
				<td *ngIf="role !== 'specialist'">
					{{ getSpecialistName(app.specialistUid) }}
				</td>
				<td>{{ app.specialty }}</td>
				<td>{{ app.date }}</td>
				<td>{{ app.time }}</td>
				<td>
					<span [statusBadge]="app.status">
						{{ app.status | appointmentStatus }}
					</span>
				</td>
				<td>
					<ng-container *ngFor="let action of getActions(app)">
						<button mat-flat-button class="btn-purple m-2" *ngIf="action === 'ver-detalle'"
							(click)="openDetailDialog(app)">
							Ver detalle
						</button>

						<button mat-flat-button class="btn-red m-2" *ngIf="action === 'cancelar'" (click)="openCancelDialog(app)">
							Cancelar

						</button>
						<button mat-flat-button class="btn-gray m-2" *ngIf="action === 'rechazar'" (click)="openRejectDialog(app)">
							Rechazar
						</button>

						<button mat-flat-button class="btn-blue m-2" *ngIf="action === 'aceptar'" (click)="openAcceptDialog(app)">
							Aceptar
						</button>

						<button mat-flat-button class="btn-green m-2" *ngIf="action === 'finalizar'"
							(click)="openCompleteDialog(app)">
							Finalizar
						</button>

						<button mat-flat-button class="btn-orange m-2" *ngIf="action === 'cargar-historia' && !app.clinicalRecord"
							(click)="openClinicalRecordDialog(app)">
							Cargar historia clínica
						</button>

						<button mat-flat-button class="btn-cyan m-2" *ngIf="action === 'ver-resena'"
							(click)="openReviewDialog(app)">
							Ver reseña
						</button>

						<button mat-flat-button class="btn-lime m-2" *ngIf="action === 'encuesta'" (click)="openSurveyDialog(app)">
							Completar encuesta
						</button>

						<button mat-flat-button class="btn-yellow m-2" *ngIf="action === 'calificar'"
							(click)="openRatingDialog(app)">
							Calificar
						</button>
					</ng-container>
				</td>
			</tr>
		</tbody>
	</table>
</mat-card>


<!-- Todos -->

<!-- Dialog Ver detalle -->
<ng-template #detailDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Detalle del Turno
	</h4>

	<mat-dialog-content class="p-3 fs-6">
		<p *ngIf="role !== 'patient'">
			<b>Paciente:</b>
			{{ getPatientName(selectedAppointment.patientUid) }}
		</p>
		<p *ngIf="role !== 'specialist'">
			<b>Especialista:</b>
			{{ getSpecialistName(selectedAppointment.specialistUid) }}
		</p>
		<p>
			<b>Especialidad:</b>
			{{ selectedAppointment.specialty }}
		</p>
		<p>
			<b>Día:</b>
			{{ selectedAppointment.date }}
		</p>
		<p>
			<b>Horario:</b>
			{{ selectedAppointment.time }}
		</p>
		<p>
			<b>Estado:</b>
			{{ selectedAppointment.status | appointmentStatus }}
		</p>
		<p *ngIf="selectedAppointment.adminCancellationComment">
			<b>Comentario de cancelación administrador:</b>
			{{ selectedAppointment.adminCancellationComment }}
		</p>
		<p *ngIf="selectedAppointment.patientCancellationComment">
			<b>Comentario de cancelación paciente:</b>
			{{ selectedAppointment.patientCancellationComment }}
		</p>
		<p *ngIf="selectedAppointment.specialistCancellationComment">
			<b>Comentario de cancelación especialista:</b>
			{{ selectedAppointment.specialistCancellationComment }}
		</p>
		<p *ngIf="selectedAppointment.specialistRejectionComment">
			<b>Comentario rechazo:</b>
			{{ selectedAppointment.specialistRejectionComment }}
		</p>
		<p *ngIf="role === 'admin' && selectedAppointment.specialistReview?.comment">
			<b>Comentario del especialista:</b>
			{{ selectedAppointment.specialistReview?.comment }}
		</p>
		<p *ngIf="role === 'admin' && selectedAppointment.specialistReview?.diagnosis">
			<b>Diagnóstico:</b>
			{{ selectedAppointment.specialistReview?.diagnosis }}
		</p>
		<p *ngIf="role === 'admin' && selectedAppointment.patientRatingComment">
			<b>Comentario del paciente:</b>
			{{ selectedAppointment.patientRatingComment }}
		</p>
		<p *ngIf="role !== 'patient' && selectedAppointment.adminCreatedForPatientUid">
			<b>Creado por administrador para:</b>
			{{ getPatientName(selectedAppointment.adminCreatedForPatientUid) }}
		</p>
		<p>
			<b>Creado en:</b>
			{{ selectedAppointment.createdAt | formatDate }}
		</p>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button matButton="tonal" mat-dialog-close>Cerrar</button>
	</mat-dialog-actions>
</ng-template>

<!-- Dialog Cancelar -->
<ng-template #cancelDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Cancelar Turno
	</h4>

	<mat-dialog-content>
		<p class="text-center" *ngIf="role !== 'patient'">Estás por cancelar el turno de
			<b>{{ getPatientName(selectedAppointment.patientUid) }}</b>.
		</p>
		<mat-form-field appearance="outline" class="w-100 mt-3">
			<mat-label>Motivo de cancelación</mat-label>
			<textarea matInput [(ngModel)]="cancelComment" [attr.maxlength]="maxCommentLength" rows="5" required>
	    </textarea>
			<mat-hint align="end" class="fw-bold" [ngStyle]="{ color: isCommentTooLong ? '#c62828' : 'rgba(0,0,0,0.6)' }">
				{{ cancelComment.length }}/{{ maxCommentLength }}
			</mat-hint>
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions class="mt-3">
		<button matButton="tonal" mat-dialog-close>Cancelar</button>
		<button mat-flat-button color="primary" (click)="cancelAppointment()"
			[disabled]="!cancelComment.trim() || isCommentTooLong">
			Confirmar
		</button>
	</mat-dialog-actions>
</ng-template>


<!-- Especialista -->

<!-- Dialog Rechazar -->
<ng-template #rejectDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Rechazar Turno
	</h4>

	<mat-dialog-content>
		<p class="text-center" *ngIf="role !== 'patient'">Estás por rechazar el turno de
			<b>{{ getPatientName(selectedAppointment.patientUid) }}</b>.
		</p>
		<mat-form-field appearance="outline" class="w-100 mt-3">
			<mat-label>Motivo de rechazo</mat-label>
			<textarea matInput [(ngModel)]="rejectComment" [attr.maxlength]="maxCommentLength" rows="5" required>
	    </textarea>
			<mat-hint align="end" class="fw-bold" [ngStyle]="{ color: isCommentTooLong ? '#c62828' : 'rgba(0,0,0,0.6)' }">
				{{ rejectComment.length }}/{{ maxCommentLength }}
			</mat-hint>
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions class="mt-3">
		<button matButton="tonal" mat-dialog-close>Cancelar</button>
		<button mat-flat-button color="primary" (click)="rejectAppointment()"
			[disabled]="!rejectComment.trim() || isCommentTooLong">
			Confirmar
		</button>
	</mat-dialog-actions>
</ng-template>

<!-- Dialog Aceptar -->
<ng-template #acceptDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Aceptar turno
	</h4>

	<mat-dialog-content>
		<p class="text-center">¿Estás seguro/a que querés aceptar el turno de
			<b>{{ getPatientName(selectedAppointment.patientUid) }}</b>?
		</p>
	</mat-dialog-content>

	<mat-dialog-actions align="end" class="mt-3">
		<button matButton="tonal" mat-dialog-close>Cancelar</button>
		<button mat-flat-button color="primary" (click)="acceptAppointment()">
			Confirmar
		</button>
	</mat-dialog-actions>
</ng-template>

<!-- Dialog Finalizar -->
<ng-template #completeDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Finalizar turno
	</h4>

	<mat-dialog-content>
		<p class="text-center" *ngIf="role !== 'patient'">
			Estás por finalizar el turno de
			<b>{{ getPatientName(selectedAppointment.patientUid) }}</b>.
		</p>

		<mat-form-field appearance="outline" class="w-100 mt-3">
			<mat-label>Comentario de la consulta</mat-label>
			<textarea matInput [(ngModel)]="completeComment" [attr.maxlength]="maxCommentLength" rows="4" required>
	      </textarea>
			<mat-hint align="end" class="fw-bold" [ngStyle]="{ color: isCommentTooLong ? '#c62828' : 'rgba(0,0,0,0.6)' }">
				{{ completeComment.length }}/{{ maxCommentLength }}
			</mat-hint>
		</mat-form-field>

		<mat-form-field appearance="outline" class="w-100 mt-3">
			<mat-label>Diagnóstico</mat-label>
			<textarea matInput [(ngModel)]="completeDiagnosis" [attr.maxlength]="maxCommentLength" rows="4" required>
	      </textarea>
			<mat-hint align="end" class="fw-bold" [ngStyle]="{ color: isCommentTooLong ? '#c62828' : 'rgba(0,0,0,0.6)' }">
				{{ completeDiagnosis.length }}/{{ maxCommentLength }}
			</mat-hint>
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions class="mt-3">
		<button matButton="tonal" mat-dialog-close>Cancelar</button>
		<button mat-flat-button color="primary" (click)="completeAppointment()" [disabled]="
	        !completeComment.trim() ||
	        !completeDiagnosis.trim() ||
	        isCommentTooLong
	      ">
			Confirmar
		</button>
	</mat-dialog-actions>
</ng-template>

<!-- Dialog Historia clinica -->
<ng-template #clinicalRecordDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Historia Clínica
	</h4>

	<mat-dialog-content [formGroup]="clinicalForm" style="max-height: 70vh; overflow:auto">

		<p class="text-center">
			Estás cargando la historia clínica de
			<b>{{ getPatientName(selectedAppointment.patientUid) }}</b>.
		</p>

		<div class="row mt-5">
			<div class="col-6">
				<mat-form-field appearance="outline" class="w-100 mb-4">
					<mat-label>Altura (cm)</mat-label>
					<input matInput type="number" formControlName="height">
					<mat-error *ngIf="clinicalForm.get('height')?.hasError('required')" class="mb-1">
						Este campo es obligatorio
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('height')?.hasError('min')" class="mb-1">
						La altura mínima es {{ clinicalForm.get('height')?.errors?.['min']?.min }} cm
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('height')?.hasError('max')" class="mb-1">
						La altura máxima es {{ clinicalForm.get('height')?.errors?.['max']?.max }} cm
					</mat-error>
				</mat-form-field>
			</div>

			<div class="col-6">
				<mat-form-field appearance="outline" class="w-100 mb-4">
					<mat-label>Peso (kg)</mat-label>
					<input matInput type="number" formControlName="weight">
					<mat-error *ngIf="clinicalForm.get('weight')?.hasError('required')" class="mb-1">
						Este campo es obligatorio
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('weight')?.hasError('min')" class="mb-1">
						El peso mínimo es {{ clinicalForm.get('weight')?.errors?.['min']?.min }} kg
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('weight')?.hasError('max')" class="mb-1">
						El peso máximo es {{ clinicalForm.get('weight')?.errors?.['max']?.max }} kg
					</mat-error>
				</mat-form-field>
			</div>

			<div class="col-6">
				<mat-form-field appearance="outline" class="w-100 mb-4">
					<mat-label>Temperatura (°C)</mat-label>
					<input matInput type="number" formControlName="temperature">
					<mat-error *ngIf="clinicalForm.get('temperature')?.hasError('required')" class="mb-1">
						Este campo es obligatorio
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('temperature')?.hasError('min')" class="mb-1">
						La temperatura mínima es {{ clinicalForm.get('temperature')?.errors?.['min']?.min }} °C
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('temperature')?.hasError('max')" class="mb-1">
						La temperatura máxima es {{ clinicalForm.get('temperature')?.errors?.['max']?.max }} °C
					</mat-error>
				</mat-form-field>
			</div>

			<div class="col-6">
				<mat-form-field appearance="outline" class="w-100 mb-4">
					<mat-label>Presión</mat-label>
					<input matInput formControlName="bloodPressure">
					<mat-error *ngIf="clinicalForm.get('bloodPressure')?.hasError('required')" class="mb-1">
						Este campo es obligatorio
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('bloodPressure')?.hasError('maxlength')" class="mb-1">
						Máximo 10 caracteres
					</mat-error>
					<mat-error *ngIf="clinicalForm.get('bloodPressure')?.hasError('pattern')" class="mb-1">
						Solo se admite formato 120/80 (número / número)
					</mat-error>
				</mat-form-field>
			</div>
		</div>

		<h6 class="my-4 fw-bold">Datos adicionales (máximo 3)</h6>

		<mat-chip-set class="mb-4">
			<mat-chip *ngFor="let item of dynamicArray.controls; let i = index" [removable]="true"
				(removed)="removeDynamic(i)">
				<strong>{{ item.value.key }}:</strong> {{ item.value.value }}
				<button matChipRemove>
					<i class="fa-solid fa-xmark"></i>
				</button>
			</mat-chip>
		</mat-chip-set>


		<div class="d-flex align-items-center gap-2">

			<mat-form-field appearance="outline" class="flex-grow-1">
				<mat-label>Dato</mat-label>
				<input matInput [formControl]="dynamicKey" [disabled]="isMaxReached">

				<mat-error *ngIf="dynamicKey.hasError('required')">
					Ingresá un dato
				</mat-error>

				<mat-error *ngIf="dynamicKey.hasError('maxlength')">
					Máximo 20 caracteres
				</mat-error>

				<mat-error *ngIf="dynamicKey.hasError('duplicate')">
					Ya agregaste esta clave
				</mat-error>
			</mat-form-field>

			<mat-form-field appearance="outline" class="flex-grow-1">
				<mat-label>Valor</mat-label>
				<input matInput [formControl]="dynamicValue" [disabled]="isMaxReached">

				<mat-error *ngIf="dynamicValue.hasError('required')">
					Ingresá un valor
				</mat-error>

				<mat-error *ngIf="dynamicValue.hasError('maxlength')">
					Máximo 20 caracteres
				</mat-error>
			</mat-form-field>

			<button mat-flat-button color="primary" (click)="addDynamic()" [disabled]="isMaxReached">
				<i class="fa-solid fa-plus"></i>
			</button>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions class="mt-3">
		<button mat-button mat-dialog-close>Cancelar</button>
		<button mat-flat-button color="primary" (click)="submitClinicalRecord()" [disabled]="clinicalForm.invalid">
			Guardar
		</button>
	</mat-dialog-actions>
</ng-template>


<!-- Especialista y Paciente -->

<!-- Dialog Ver reseña -->
<ng-template #reviewDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Reseña del turno
	</h4>

	<mat-dialog-content class="p-3 fs-6">

		<ng-container *ngIf="role === 'patient'">
			<p *ngIf="selectedAppointment.specialistReview?.comment">
				<b>Comentario del especialista:</b>
				{{ selectedAppointment.specialistReview?.comment }}
			</p>

			<p *ngIf="selectedAppointment.specialistReview?.diagnosis">
				<b>Diagnóstico:</b>
				{{ selectedAppointment.specialistReview?.diagnosis }}
			</p>
		</ng-container>

		<ng-container *ngIf="role === 'specialist'">
			<p *ngIf="selectedAppointment.patientRatingComment">
				<b>Comentario del paciente:</b>
				{{ selectedAppointment.patientRatingComment }}
			</p>
		</ng-container>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button matButton="tonal" mat-dialog-close>Cerrar</button>
	</mat-dialog-actions>
</ng-template>


<!-- Paciente -->

<!-- Dialog Encuesta -->
<ng-template #surveyDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Encuesta de atención
	</h4>

	<form [formGroup]="surveyForm">

		<mat-dialog-content style="max-height: 70vh; overflow:auto">
			<div class="row mb-5">
				<label class="fw-semibold d-block mb-1">
					¿Volvería a atenderse en este establecimiento?
				</label>

				<mat-radio-group formControlName="wouldReturn">
					<mat-radio-button value="yes" class="me-3">Sí</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<mat-error *ngIf="surveyForm.get('wouldReturn')?.invalid && surveyForm.get('wouldReturn')?.touched">
					Seleccioná una opción
				</mat-error>
			</div>

			<div class="row mb-5">
				<label class="fw-semibold d-block mb-1">
					¿Cómo valora la disponibilidad de horarios del establecimiento,
					en relación a su disponibilidad?
				</label>
				<div class="d-flex align-items-center gap-3">
					<span>1</span>
					<mat-slider min="1" max="5" step="1" tickInterval="1" class="flex-grow-1">
						<input matSliderThumb formControlName="scheduleRating" />
					</mat-slider>
					<span>5</span>
				</div>
			</div>

			<div class="row mb-5">
				<label class="fw-semibold d-block mb-1">
					¿Usted está conforme con la calidad profesional del especialista?
				</label>

				<mat-radio-group formControlName="professionalQuality">
					<mat-radio-button value="yes" class="me-3">Sí</mat-radio-button>
					<mat-radio-button value="no">No</mat-radio-button>
				</mat-radio-group>

				<mat-error
					*ngIf="surveyForm.get('professionalQuality')?.invalid && surveyForm.get('professionalQuality')?.touched">
					Seleccioná una opción
				</mat-error>
			</div>
		</mat-dialog-content>

		<mat-dialog-actions align="end" class="mt-3">
			<button mat-button mat-dialog-close>Cancelar</button>
			<button mat-flat-button color="primary" (click)="submitSurvey()" [disabled]="surveyForm.invalid">
				Confirmar
			</button>
		</mat-dialog-actions>
	</form>
</ng-template>

<!-- Dialog Calificar -->
<ng-template #ratingDialog>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Comentario sobre la atención
	</h4>

	<mat-dialog-content>
		<p class="text-center">
			Contanos cómo fue tu atención con
			<b>{{ getSpecialistName(selectedAppointment.specialistUid) }}</b>.
		</p>

		<mat-form-field appearance="outline" class="w-100 mt-3">
			<mat-label>Comentario del paciente</mat-label>
			<textarea matInput [(ngModel)]="patientRatingComment" [attr.maxlength]="maxCommentLength" rows="4" required>
      </textarea>
			<mat-hint align="end" class="fw-bold" [ngStyle]="{ color: isCommentTooLong ? '#c62828' : 'rgba(0,0,0,0.6)' }">
				{{ patientRatingComment.length }}/{{ maxCommentLength }}
			</mat-hint>
		</mat-form-field>

	</mat-dialog-content>

	<mat-dialog-actions class="mt-3">
		<button matButton="tonal" mat-dialog-close>Cancelar</button>
		<button mat-flat-button color="primary" (click)="submitPatientReview()"
			[disabled]="!patientRatingComment.trim() || isCommentTooLong">
			Enviar
		</button>
	</mat-dialog-actions>
</ng-template>