<mat-card class="p-5 animate__animated animate__slideInDown">
	<h1 class="app-text-primary fw-bold text-uppercase text-center mb-4">Turnos</h1>

	<div class="button-container m-2">
		<button matButton="filled" class="btn-register my-2 fs-5" (click)="goTo('listado')">
			<img src="images/appointment.png" alt="Mis turnos" class="img-white">
			<h4 class="mt-2">Ver turnos</h4>
		</button>

		<button matButton="filled" class="btn-register my-2 fs-5" (click)="goTo('crear')">
			<img src="images/add.png" alt="Pedir turno" class="img-white">
			<h4 class="mt-2">Pedir turno</h4>
		</button>
	</div>
</mat-card>