.app-navbar {
	justify-content: space-between;
}

.navbar-logo {
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
	align-items: center;
}

.navbar-img {
	height: auto;
	width: 5rem;
	padding: 1rem;
}