mat-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

mat-card-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	mat-form-field,
	button {
		display: block;
		margin: 0 auto;
	}
}

.quick-access {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;

	.d-flex {
		justify-content: center;
	}
}

.quick-user-btn {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.05);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.25s ease;
	border: 2px solid transparent;

	&:hover {
		transform: scale(1.08);
	}
}

.role-patient {
	border-color: #415464;
}

.role-specialist {
	border-color: #EE7734;
}

.role-admin {
	border-color: #737F85;
}

.quick-user-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}