<mat-toolbar class="my-navbar">
  <div>
    <div class="navbar-logo">
      <img src="../../../assets/logoClinica.png" class="navbar-img" alt="Logo Clínica Online">
      <h1 class="navbar-title">CLÍNICA ONLINE</h1>
    </div>
  </div>
</mat-toolbar>


<div align=center>
  <br><br><br><br>
  <mat-card *ngIf="registrationType === ''" class="animate__animated animate__fadeIn">
    <h1 class="card-title">REGISTRARSE COMO</h1>
    <div class="button-container">
      <button mat-raised-button class="my-btn btn-register margin-right" (click)="setRegistrationType('specialist')"><img src="../../../assets/doctor.png" alt="especialista"></button>
      <button mat-raised-button class="my-btn btn-register" (click)="setRegistrationType('patient')"><img src="../../../assets/person.png" alt="paciente"></button>
    </div>
  </mat-card>

  <mat-card *ngIf="registrationType === 'specialist'" class="animate__animated animate__fadeIn">
    <h1 class="card-title">REGISTRO ESPECIALISTA</h1>
</mat-card>

<mat-card *ngIf="registrationType === 'patient'" class="animate__animated animate__fadeIn register-card">
  <h1 class="card-title">REGISTRO PACIENTE</h1>
  <table>
    <td>
      <tr>
        <td>
          <p>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Nombre</mat-label>
              <input (keyup.enter)="register()" matInput [(ngModel)]="user.email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
          </p>
        </td>
        <td>
          <p>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Apellido</mat-label>
              <input (keyup.enter)="register()" matInput [(ngModel)]="user.email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Edad</mat-label>
              <input (keyup.enter)="register()" matInput [(ngModel)]="user.email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
          </p>
        </td>
        <td>
          <p>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>DNI</mat-label>
              <input (keyup.enter)="register()" matInput [(ngModel)]="user.email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
          </p>
        </td>
      </tr>
    </td>
    <td>
      <tr>
        <td colspan="2">
          <p>
            <mat-form-field class="input-field">
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let specialty of specialties" [removable]="true" (removed)="removeSpecialty(specialty)">
                  {{ specialty }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
              <input matInput placeholder="Especialidad" #specialtyInput>
              <button mat-icon-button (click)="addSpecialty(specialtyInput.value)">
                <mat-icon>add</mat-icon>
              </button>
            </mat-form-field>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Ingrese especialidad</mat-label>
              <input (keyup.enter)="register()" matInput [(ngModel)]="user.email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">{{ selectedImageName }}</td>
      </tr>
    </td>
    <td>
      <tr>
        <td colspan="2">
          <p>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Correo electrónico</mat-label>
              <input (keyup.enter)="register()" matInput [(ngModel)]="user.email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
            </mat-form-field>
          </p>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Contraseña</mat-label>
              <input (keyup.enter)="register()" matInput type="password" [(ngModel)]="user.password" required>
              <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
            </mat-form-field>
          </p>
        </td>
      </tr>
    </td>
  </table>
</mat-card>

  
  <!-- <button mat-raised-button class="my-btn btn-register" (click)="register()">Registrarse</button> -->
  <router-outlet></router-outlet>
</div>