<h1 class="card-subtitle">TURNOS SOLICITADOS POR ESPECIALISTA</h1>

<p>Selecciona un rango de fechas para buscar turnos</p>
<br>
<mat-form-field appearance="outline" class="date-input">
  <mat-label>Día inicial</mat-label>
  <input matInput type="number" [(ngModel)]="day1" />
</mat-form-field>
<span>ㅤ</span>
<mat-form-field appearance="outline" class="date-input">
  <mat-label>Mes inicial</mat-label>
  <input matInput type="number" [(ngModel)]="month1" />
</mat-form-field>
<mat-form-field appearance="outline" class="date-input">
  <mat-label>Día final</mat-label>
  <input matInput type="number" [(ngModel)]="day2" />
</mat-form-field>
<span>ㅤ</span>
<mat-form-field appearance="outline" class="date-input">
  <mat-label>Mes final</mat-label>
  <input matInput type="number" [(ngModel)]="month2" />
</mat-form-field>

<div class="d-flex justify-content-center m-1">
  <button mat-raised-button class="my-btn" (click)="searchAppointments()">
    Buscar
  </button>
</div>

<canvas baseChart [datasets]="pieChartDatasets" [labels]="pieChartLabels" [type]="'bar'" [options]="pieChartOptions"
  [plugins]="pieChartPlugins" [legend]="pieChartLegend">
</canvas>

<button mat-raised-button class="my-btn" (click)="downloadAppointments()">
  Descargar turnos solicitados por especialista
</button>
<br><br>