<app-navbar></app-navbar>


<div align=center>
  <br><br><br><br>
  <mat-card class="animate__animated animate__fadeIn register-card">
    <h1 class="card-title">REGISTRARSE COMO</h1>
    <div class="button-container">
      <button mat-raised-button class="my-btn btn-register margin-right"
      (click)="goTo('register-specialist')"><img src="../../../assets/doctor.png" alt="especialista"></button>
      
      <button mat-raised-button class="my-btn btn-register" (click)="goTo('register-patient')"><img
          src="../../../assets/person.png" alt="paciente"></button>
    </div>
  </mat-card>
</div>