<app-navbar></app-navbar>
<br><br><br>
<div align=center>
  <mat-card class="animate__animated animate__fadeIn">
    <div *ngIf="authService.user">
      <div *ngIf="authService.user.profile !== 'admin'">
        <h1 class="card-title">MIS TURNOS</h1>
      </div>
      <div *ngIf="authService.user.profile === 'admin'">
        <h1 class="card-title">TODOS LOS TURNOS</h1>
      </div>
    </div>


    <div *ngIf="authService.user">


      <!--PATIENT-->
      <div *ngIf="authService.user.profile === 'patient'">
        <div *ngFor="let appointment of filteredAppointments">
          <p>{{ appointment.specialist.firstName + " " + appointment.specialist.lastName }}</p>
          <p>{{ appointment.specialty.name }}</p>
          <p>
            {{
            appointment.schedule.day +
            "/" +
            appointment.schedule.month +
            " - " +
            appointment.schedule.hour +
            ":" +
            appointment.schedule.minute
            }}
          </p>
          <h5>TURNO {{ appointment.status }}</h5>
          <button mat-raised-button class="my-btn btn-red" *ngIf="!appointment.completed && !appointment.cancelled && !appointment.rejected"
            (click)="cancelAppointment(appointment)">
            Cancelar
          </button>
          <button mat-raised-button class="my-btn" *ngIf="(appointment.cancelled || appointment.rejected) && appointment.comment.length > 0"
            (click)="showComment(appointment.comment)">
            Ver reseña
          </button>
          <button mat-raised-button class="my-btn" *ngIf="!appointment.cancelled && appointment.specialistComment.length > 0" (click)="
            showDiagnosis(
                  appointment.specialistComment,
                  appointment.diagnosis,
                  appointment.key,
                  appointment.value
                )
              ">
            Ver reseña
          </button>
          <button mat-raised-button class="my-btn btn-green" *ngIf="appointment.comment.length > 0 && appointment.completed">
            Completar encuesta
          </button>
          <button mat-raised-button class="my-btn btn-gren" *ngIf="appointment.completed && appointment.comment.length === 0">
            Calificar atención
          </button>
        </div>
      </div>

      <!--SPECIALIST-->
      <div *ngIf="authService.user.profile === 'specialist'">
        <div *ngFor="let appointment of filteredAppointments">
          <p>{{ appointment.patient.firstName + " " + appointment.patient.lastName }}</p>
          <p>{{ appointment.patient.healthcareProvider }}</p>
          <p>
            {{
            appointment.schedule.day +
            "/" +
            appointment.schedule.month +
            " - " +
            appointment.schedule.hour +
            ":" +
            appointment.schedule.minute
            }}
          </p>
          <h5>TURNO {{ appointment.status }}</h5>
          <button mat-raised-button class="my-btn btn-red" *ngIf="!appointment.completed && !appointment.cancelled && !appointment.accepted && !appointment.rejected"
            (click)="cancelAppointment(appointment)">
            Cancelar
          </button>

          <button mat-raised-button class="my-btn btn-red" *ngIf="!appointment.completed && !appointment.cancelled && !appointment.accepted && !appointment.rejected"
            (click)="rejectAppointment(appointment)">
            Rechazar
          </button>

          <button mat-raised-button class="my-btn btn-green" *ngIf="!appointment.completed && !appointment.cancelled && !appointment.accepted && !appointment.rejected"
            (click)="acceptAppointment(appointment)">
            Aceptar
          </button>

          <button mat-raised-button class="my-btn" *ngIf="(appointment.cancelled || appointment.rejected) && appointment.comment.length > 0"
            (click)="showComment(appointment.comment)">
            Ver reseña
          </button>
          <button mat-raised-button class="my-btn" *ngIf="!appointment.cancelled && appointment.specialistComment.length > 0" (click)="
            showDiagnosis(
                  appointment.specialistComment,
                  appointment.diagnosis,
                  appointment.key,
                  appointment.value
                )
              ">
            Ver reseña
          </button>
          <button mat-raised-button class="my-btn btn-green" *ngIf="appointment.accepted && !appointment.cancelled && !appointment.completed"
            (click)="appointment.finished = !appointment.finished">
            Mostrar formulario de finalización
          </button>
          <div *ngIf="appointment.accepted && !appointment.cancelled && !appointment.completed && appointment.finished">
            <app-new-medical-record [turno]="appointment"></app-new-medical-record>
          </div>
        </div>
      </div>

      <!--ADMIN-->
      <div *ngIf="authService.user.profile === 'admin'">
        <div *ngFor="let appointment of filteredAppointments">
          <p>{{ appointment.patient.firstName + " " + appointment.patient.lastName }}</p>
          <p>{{ appointment.patient.healthcareProvider }}</p>
          <h5>TURNO {{ appointment.status }}</h5>
          <button mat-raised-button class="my-btn btn-red"
            *ngIf="!appointment.completed && !appointment.cancelled && !appointment.accepted && !appointment.rejected" (click)="cancelAppointment(appointment)">
            Cancelar
          </button>
        </div>
      </div>
    </div>

  </mat-card>
  <br><br><br>


  <mat-card class="animate__animated animate__fadeIn">
    <h1 class="card-subtitle">FILTROS</h1>

    <div class="mt-3 mb-3">
      <h5>ESPECIALIDADES</h5>
      <div class="mt-2 mb-2" *ngFor="let specialty of specialties">
        <button mat-raised-button class="my-btn" (click)="filterBySpecialty(specialty)">
          {{ specialty.name }}
        </button>
      </div>
    </div>

    <div class="mt-3 mb-3" *ngIf="authService.user!.profile !== 'specialist'">
      <h5>ESPECIALISTAS</h5>
      <div class="mt-2 mb-2" *ngFor="let specialist of specialists">
        <button mat-raised-button class="my-btn" (click)="filterBySpecialist(specialist)">
          {{ specialist.firstName + " " + specialist.lastName }}
        </button>
        <br>
      </div>
    </div>

    <div class="mt-3 mb-3" *ngIf="authService.user!.profile === 'specialist'">
      <h5>PACIENTES</h5>
      <div class="mt-2 mb-2" *ngFor="let patient of patients">
        <button mat-raised-button class="my-btn" (click)="filterByPatient(patient)">
          {{ patient.firstName + patient.lastName }}
        </button>
      </div>
    </div>

    <div class="mt-3 mb-3">
      <h5>OTRO FILTRO</h5>
      <br>
      <mat-form-field class="mt-3 mb-3" appearance="outline" class="date-input">
        <mat-label>Ingresá un valor</mat-label>
        <input matInput (change)="filtrarPorValor($event)" />
      </mat-form-field>
    </div>
  </mat-card>
  <br><br>
</div>
<router-outlet></router-outlet>