<app-navbar></app-navbar>


<div align=center>
  <br><br>
  <app-fast-login (fillFields)="fillFields($event)"></app-fast-login>
  <br><br>
  <mat-card class="animate__animated animate__fadeIn">
    <h1 class="card-title">INICIAR SESIÓN</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <table>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Correo electrónico</mat-label>
              <input matInput formControlName="mail" required [(ngModel)]="username">
              <mat-error *ngIf="loginForm.controls['mail'].errors?.['required'] && loginForm.controls['mail'].touched">
                El correo es obligatorio
              </mat-error>
              <mat-error *ngIf="loginForm.controls['mail'].errors?.['email'] && loginForm.controls['mail'].touched">
                El correo es inválido
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <br>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="card-form-field">
              <mat-label>Contraseña</mat-label>
              <input matInput type="password" formControlName="password" required [(ngModel)]="password">
              <mat-error
                *ngIf="loginForm.controls['password'].errors?.['required'] && loginForm.controls['password'].touched">
                La contraseña es obligatoria
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button class="my-btn btn-login" (click)="login()">
              Ingresar
            </button>
          </td>
        </tr>
      </table>
    </form>
  </mat-card>
</div>