<mat-card class="p-4 animate__animated animate__fadeIn">
	<h1 class="app-text-primary fw-bold text-center text-uppercase mb-4">
		Listado de Turnos
	</h1>

	<mat-form-field appearance="outline" class="w-100 mt-3">
		<mat-label>Buscar por especialidad o profesional...</mat-label>
		<input matInput type="text" (input)="onSearch($event)">
	</mat-form-field>

	<table class="table table-striped text-center align-middle">
		<thead>
			<tr>
				<th>Paciente</th>
				<th>Profesional</th>
				<th>Especialidad</th>
				<th>Día</th>
				<th>Horario</th>
				<th>Estado</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let app of filteredAppointments">
				<td>{{ getPatientName(app.patientUid) }} </td>
				<td>{{ getSpecialistName(app.specialistUid) }}</td>
				<td>{{ app.specialty }}</td>
				<td>{{ app.date }}</td>
				<td>{{ app.time }}</td>
				<td><span [statusBadge]="app.status">{{ app.status | appointmentStatus }}</span></td>
				<td>
					<button mat-flat-button class="btn-purple my-2" (click)="openDetail(app)">
						<i class="fa-solid fa-circle-info"></i>
						Ver detalle
					</button>
					<button mat-button color="warn" *ngIf="canCancel(app)" (click)="openCancelDialog(app)">
						<i class="fa-solid fa-circle-xmark"></i>
						Cancelar
					</button>

				</td>
			</tr>
		</tbody>
	</table>

	<div *ngIf="!filteredAppointments.length" class="text-center mt-4">
		<p>No hay turnos registrados</p>
	</div>

	<ng-template #detailDialog>
		<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
			Detalle del Turno
		</h4>
		<mat-dialog-content class="p-3 fs-6">
			<p><b>Paciente:</b> {{ getPatientName(selectedAppointment.patientUid) }}</p>
			<p><b>Profesional:</b> {{ getSpecialistName(selectedAppointment.specialistUid) }}</p>
			<p><b>Especialidad:</b> {{ selectedAppointment.specialty }}</p>
			<p><b>Día:</b> {{ selectedAppointment.date }}</p>
			<p><b>Horario:</b> {{ selectedAppointment.time }}</p>
			<p><b>Estado:</b> {{ selectedAppointment.status | appointmentStatus }}</p>

			<p *ngIf="selectedAppointment.adminCancellationComment"><b>Comentario de cancelación administrador:</b> {{
				selectedAppointment.adminCancellationComment }}</p>
			<p *ngIf="selectedAppointment.patientCancellationComment"><b>Comentario de cancelación paciente:</b> {{
				selectedAppointment.patientCancellationComment }}</p>
			<p *ngIf="selectedAppointment.specialistCancellationComment"><b>Comentario de cancelación especialista:</b> {{
				selectedAppointment.specialistCancellationComment }}</p>
			<p *ngIf="selectedAppointment.specialistRejectionComment"><b>Comentario rechazo:</b> {{
				selectedAppointment.specialistRejectionComment }}</p>
			<p *ngIf="selectedAppointment.specialistReview"><b>Reseña especialista:</b> {{
				selectedAppointment.specialistReview }}</p>
			<p *ngIf="selectedAppointment.patientSurvey"><b>Encuesta paciente:</b> {{ selectedAppointment.patientSurvey }}</p>
			<p *ngIf="selectedAppointment.patientRating"><b>Calificación paciente:</b> {{ selectedAppointment.patientRating
				}}/5</p>
			<p *ngIf="selectedAppointment.patientRatingComment"><b>Comentario paciente:</b> {{
				selectedAppointment.patientRatingComment }}</p>
			<p *ngIf="selectedAppointment.adminCreatedForPatientUid"><b>Creado por administrador para:</b> {{
				getPatientName(selectedAppointment.adminCreatedForPatientUid) }}</p>
			<p><b>Creado en:</b> {{ selectedAppointment.createdAt | formatDate }} </p>

		</mat-dialog-content>
		<mat-dialog-actions class="align-items-end">
			<button matButton="tonal" mat-dialog-close>Cerrar</button>
		</mat-dialog-actions>
	</ng-template>
</mat-card>

<ng-template #cancelDialog let-data>
	<h4 class="app-text-primary fw-bold text-center text-uppercase m-4">
		Cancelar Turno
	</h4>

	<mat-dialog-content>
		<p>Estás por cancelar el turno de
			<b>{{ getPatientName(data.app.patientUid) }}</b>.
		</p>

		<mat-form-field appearance="outline" class="w-100 mt-3">
			<mat-label>Motivo de cancelación</mat-label>

			<textarea matInput [(ngModel)]="cancelComment" [attr.maxlength]="maxCommentLength" rows="5" required>
	    </textarea>

			<mat-hint align="end" class="fw-bold" [ngStyle]="{ color: isCommentTooLong ? '#c62828' : 'rgba(0,0,0,0.6)' }">
				{{ cancelComment.length }}/{{ maxCommentLength }}
			</mat-hint>
		</mat-form-field>
	</mat-dialog-content>

	<mat-dialog-actions class="align-items-end">
		<button matButton="tonal" mat-dialog-close>Cerrar</button>
		<button mat-flat-button color="primary" [disabled]="!cancelComment.trim()" (click)="cancelAppointment(data.app)">
			Confirmar
		</button>
	</mat-dialog-actions>
</ng-template>