<body>
    <br>
    <!-- <app-spinner [showSpinner]="isLoading"></app-spinner> -->
    <div *ngIf="!isLoading" class="my-card" align=center>
        <mat-card class="animate__animated animate__fadeIn">
            <h1 class="card-title">CLÍNICA ONLINE</h1>

            <img class="d-block mx-auto mb-4" src="../../../assets/logoClinica.png" alt="foto"
                width="200" height="200">
            <br>
            <button mat-raised-button class="my-btn btn-login" (click)="goTo('login')">Iniciar sesión</button>
            <br>
            <button mat-raised-button class="my-btn btn-register" (click)="goTo('register')">Registrarse</button>
        </mat-card>
    </div>
</body>