.animate__fadeIn {
    max-width: 700px;
    background-color: #E4E0E0;
}

.my-card {
    margin-top: 5rem;
}

.btn-login {
    width: 200px;
    margin: 10px;
    margin-top: 2rem;
}

.btn-register {
    width: 200px;
    margin: 10px;
}