.animate__fadeIn {
  max-width: 400px;
  /* background-color: #E4E0E0; */
  background-color: #FFFFFF;
}

.card-title {
  padding: 0;
  font-size: xx-large;
  font-weight: bold;
  color: #415464;
  margin-bottom: 40px;
}

.btn-login {
  width: 200px;
  margin: 10px;
  margin-top: 2rem;
}

.btn-fast-login {
  width: 200px;
  margin: 10px;
}

::ng-deep .mat-focused .mat-form-field-label {
  color: #415464 !important;
}

::ng-deep .mat-form-field-label {
  color: #415464 !important;
}

::ng-deep .mat-form-field-outline {
  color: #415464 !important;
}

::ng-deep .mat-focused .mat-form-field-outline {
  color: #ED691D !important;
}