<mat-toolbar class="my-navbar">
  <div>
    <div class="navbar-logo">
      <img src="../../../assets/logoClinica.png" class="navbar-img" alt="Logo Clínica Online">
      <h1 class="navbar-title">CLÍNICA ONLINE</h1>
    </div>
    <!-- <button mat-raised-button (click)="goTo('about-me')" class="btn-link" style="margin: 5px;">Sobre mi</button>
      <button mat-raised-button (click)="goTo('survey')" class="btn-link" style="margin: 5px;">Encuesta</button> -->
  </div>
  <div>
    <!-- <b class="user-logged">Bienvenido {{token}}</b> -->
    <button mat-raised-button (click)="goTo('logout')" class="my-btn btn-logout">Salir</button>
  </div>
</mat-toolbar>

<div align=center>
  <br>
  <mat-card class="animate__animated animate__fadeIn">
    <h1 class="card-title">INICIAR SESIÓN</h1>
    <p>
      <mat-form-field appearance="outline" class="card-form-field">
        <mat-label>Correo</mat-label>
        <input (keyup.enter)="login()" matInput [(ngModel)]="user.email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessageEmail()}}</mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field appearance="outline" class="card-form-field">
        <mat-label>Contraseña</mat-label>
        <input (keyup.enter)="login()" matInput type="password" [(ngModel)]="user.password" required>
        <mat-error *ngIf="password.invalid">{{getErrorMessagePassword()}}</mat-error>
      </mat-form-field>
    </p>

    <button mat-raised-button class="my-btn btn-login" (click)="login()">Iniciar sesión</button>
    <br>
    <button mat-raised-button class="my-btn btn-fast-login" (click)="fastLogin()">Inicio rápido</button>

  </mat-card>
  <router-outlet></router-outlet>
</div>