<app-navbar></app-navbar>
<br><br><br>
<div align="center">
  <mat-card class="animate__animated animate__fadeIn">
    <h1 class="card-title">APROBAR ESPECIALISTAS</h1>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let e of specialists">
          <div class="item-content">
            <div mat-line>{{ e.firstName + ' ' + e.lastName }}</div>


            <div mat-line class="specialties">
              {{ e.mail }} |
              <span class="specialty" *ngFor="let es of e.specialty; let last = last">
                {{ es.name }}
                <ng-container *ngIf="!last">-</ng-container>
              </span>
            </div>

          </div>
          <div class="align-end">
            <button mat-raised-button class="my-btn" (click)="approve(e.mail)">Aprobar</button>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
      <div *ngIf="specialists.length === 0">
        <p>No hay especialistas para aprobar</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
<router-outlet></router-outlet>