.animate__fadeIn {
  max-width: 800px;
}

.specialist-item {
    display: flex;
    align-items: flex-start;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.align-end {
    /* align-self: flex-end;
    vertical-align: middle; */

    display: flex;
    align-items: center;
}

.specialties {
    display: flex;
    flex-wrap: wrap;
}

.specialty {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 8px;
}