<mat-card class="animate__animated animate__slideInLeft p-5">
	<h1 class="app-text-primary fw-bold text-uppercase text-center mb-4">Registrarse como</h1>

	<div class="button-container m-2">
		<button matButton="filled" class="btn-register my-2 fs-5" (click)="goTo('registro-especialista')">
			<img src="images/doctor.png" alt="Especialista" class="img-white">
		</button>

		<button matButton="filled" class="btn-register my-2 fs-5" (click)="goTo('registro-paciente')">
			<img src="images/person.png" alt="Paciente" class="img-white">
		</button>
	</div>
</mat-card>