<app-navbar></app-navbar>
<br><br><br>
<div align=center>
  <div *ngIf="user !== null">
    <mat-card class="animate__animated animate__fadeIn">
      <h1 class="card-title">MI PERFIL</h1>
      <mat-card-content>
        <div class="profile-container">
          <div class="profile-image">
            <img src="{{ user.profileImg }}" alt="Foto de perfil">
          </div>
          <div class="profile-data">
            <h2>{{ user.firstName + " " + user.lastName }}</h2>
            <p>{{ user.mail }}</p>
            <p>{{ user.profile === 'admin' ? 'Administrador/a' : (user.profile === 'patient' ? 'Paciente' :
              'Especialista') }}</p>
            <p>{{ user.age + " años" }}</p>
            <p>DNI: {{ user.dni | dni }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <div *ngIf="user.perfil === 'Paciente'">
      <br />
      <mat-card class="animate__animated animate__fadeIn">
        <h1 class="card-title">MI HISTORIA</h1>
        <mat-card-content>
          <div *ngIf="medicalRecord">
            <p>Altura: {{ medicalRecord.height | altura }}</p>
            <p>Peso: {{ medicalRecord.weight + " kg." }}</p>
            <p>Temperatura: {{ medicalRecord.temperature | temp }}</p>
            <p>Presión: {{ medicalRecord.pressure }}</p>
            <br>
            <div *ngFor="let other of medicalRecord.other">
              <p>{{ other.key + ": " + other.value }}</p>
            </div>
            <button mat-raised-button class="my-btn" (click)="downloadMyMedicalRecord()">
              Descargar mi historia
            </button>
          </div>
        </mat-card-content>
      </mat-card>
      <br />
      <mat-card class="animate__animated animate__fadeIn">
        <h1 class="card-title">DESCARGAR TURNOS SEGÚN ESPECIALISTA</h1>
        <div *ngFor="let specialist of filteredSpecialists" class="boton">
          <button mat-icon-button class="my-btn btn-user orange-button">
            <img src="{{ specialist.profileImg }}" alt="{{ specialist.firstName }}" class="profile-image"
              (click)="downloadAppointmentByProfessional(specialist)" />
            <br>
            <h6>{{ specialist.firstName + " " + specialist.lastName }}</h6>
          </button>
        </div>
      </mat-card>

    </div>

    <div *ngIf="user.perfil === 'Especialista'">
      <br />
      <mat-card class="animate__animated animate__fadeIn">
        <h1 class="card-title">MIS HORARIOS</h1>
        <mat-card-content>
          <div *ngFor="let specialty of user.specialty; let i = index">
            <h4>{{ "Horarios de " + specialty.name }}</h4>
            <div *ngFor="let schedule of specialty.schedules">
              <p>{{ schedule.day + "/" + schedule.month + " " + schedule.hour + ":" + schedule.minute }}</p>
            </div>
            <button mat-raised-button class="my-btn" (click)="selectSpecialty(specialty, i)">
              Agregar horario
            </button>
            <br />
            <br />
          </div>
        </mat-card-content>
      </mat-card>



      <div *ngIf="specialty !== undefined">
        <br />
        <mat-card class="animate__animated animate__fadeIn">
          <h3>Agregar horario para {{ specialty.name }}</h3>
          <input [(ngModel)]="day" style="width: 30px" /><span>/</span>
          <input [(ngModel)]="month" style="width: 30px" /><span>
            -
          </span>
          <input [(ngModel)]="hour" style="width: 30px" /><span>:</span>
          <input [(ngModel)]="minute" style="width: 30px" />
          <button mat-raised-button class="my-btn" (click)="addSchedule()">
            Agregar
          </button>
        </mat-card>
      </div>
    </div>
  </div>

  <div *ngIf="user === null">
    <mat-card class="animate__animated animate__fadeIn">
      <h1 class="card-title">LO SENTIMOS</h1>
      <mat-card-content>
        <p>No tenemos datos sobre tu usuario</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>



<!-- <div *ngIf="user !== null" style="background-color: violet;">
  <div class="container text-center mt-1" style="max-width: 500px">
    <div *ngIf="user.perfil === 'Paciente'">
      <img width="100%" height="325px" style="object-fit: cover" src="{{ user.imgSecundaria }}" />
    </div>

    <h1 classs="mt-1">
      {{ user.nombre + " " + user.apellido }}
    </h1>
    <h5>{{ user.mail }}</h5>
    <h5>{{ user.perfil }}</h5>
    <h6>{{ user.edad + " años" }}</h6>
    <h6>DNI: {{ user.dni | dni }}</h6> -->


<!--Mis horarios-->
<!-- <div *ngIf="user.perfil === 'Especialista'">
      <br />
      <hr />
      <h1>Mis horarios</h1>
      <div *ngFor="let e of user.especialidad; let i = index">
        <h4>{{ "Horarios como " + e.nombre }}</h4>
        <div *ngFor="let h of e.horarios">
          <p>{{ h.dia + "/" + h.mes + " " + h.hora + ":" + h.minuto }}</p>
        </div>
        <button class="btn btn-light" (click)="seleccionarEspecialidad(e, i)">
          Agregar horario
        </button>
        <br />
        <br />
      </div>

      <div *ngIf="specialty !== undefined">
        <br />
        <hr />
        <h3>Agregar horario para {{ specialty.name }}</h3>
        <input [(ngModel)]="day" style="width: 30px" class="in-fecha in-fecha-der" /><span>/</span>
        <input [(ngModel)]="month" style="width: 30px" class="in-fecha" /><span>
          -
        </span>
        <input [(ngModel)]="hour" style="width: 30px" class="in-fecha in-fecha-der" /><span>:</span>
        <input [(ngModel)]="minute" style="width: 30px" class="in-fecha" />
        <button class="btn btn-success" (click)="agregarHorario()">
          Agregar horario
        </button>
      </div>
      <div style="height: 400px"></div>
    </div> -->



<!-- Historia clinica
    <div *ngIf="user.perfil === 'Paciente'">
      <br />
      <hr />
      <h1>Mi historia</h1>
      <div *ngIf="historia">
        <div class="card">
          <div *ngIf="authService.user">
            <h3 *ngIf="authService.user!.profile !== 'Paciente'" class="mt-2">
              {{
              "Historia de " +
              historia.patient.firstName +
              " " +
              historia.patient.lastName
              }}
            </h3>
          </div>
          <h5 class="mt-2">Datos del patient:</h5>
          <div class="row p-0">
            <p appHighlight class="col-6">{{ historia.height | altura }}</p>
            <p appHighlight class="col-6">{{ historia.weight + " kg." }}</p>
            <p appHighlight class="col-6">{{ historia.temperature | temp }}</p>
            <p appHighlight class="col-6">{{ historia.pressure + " PA" }}</p>
          </div>
          <h5 class="mt-2">Diagnósticos guardados:</h5>
          <div *ngFor="let d of historia.other">
            <p>{{ d.key + ": " + d.value }}</p>
          </div>
          <button class="btn btn-success mt-2" (click)="descargarMiHistoria()">
            Descargar
          </button>
        </div>
      </div>
      <br />
      <hr />
      <h1>Descargar turnos segun especialista</h1>
      <div class="d-flex" style="vertical-align: middle; flex-wrap: wrap">
        <div *ngFor="let e of filteredSpecialists" class="boton">
          <h6 style="text-align: center" class="mt-2">{{ e.firstName }}</h6>
          <img src="{{ e.profileImg }}" alt="{{ e.firstName }}" width="100%" (click)="descargarSegunProfesional(e)" />
        </div>
      </div>
      <div style="height: 200px"></div>
    </div> -->




<!-- 

  </div>
</div> -->