<mat-toolbar class="my-navbar">
    <div class="navbar-logo">
        <img src="../../../assets/logoClinica.png" class="navbar-img" alt="Logo Clínica Online">
        <h1 class="navbar-title">CLÍNICA ONLINE</h1>
    </div>
    <div>
        <button mat-raised-button class="my-btn" (click)="logout()"><mat-icon>logout</mat-icon>
        </button>
    </div>
</mat-toolbar>


<br><br><br>
<div align=center>
    <mat-card class="animate__animated animate__fadeIn">
        <h1 class="card-title">CONFIRMACIÓN DE CORREO ELECTRÓNICO</h1>
        <p class="card-message">Por favor, confirmá tu correo electrónico para completar el proceso de registro. No
            olvides revisar
            la carpeta de spam.</p>
        <br>
        <button mat-raised-button class="my-btn" (click)="confirmEmailValidation()">
            OK
        </button>
    </mat-card>
</div>