<mat-card class="animate__animated animate__fadeIn">
    <mat-card-content>
        <div class="quick-access-buttons">
            <button mat-icon-button class="btn-user" (click)="autoFillFields('xixayay309@niback.com', '123456')">
                <img src="../../../assets/person.png" alt="paciente1" class="user-image">
            </button>
            <button mat-icon-button class="btn-user" (click)="autoFillFields('wwk96qxwlg@superblohey.com', '123456')">
                <img src="../../../assets/person.png" alt="paciente2" class="user-image">
            </button>
            <button mat-icon-button class="btn-user" (click)="autoFillFields('dulmarupse@gufum.com', '123456')">
                <img src="../../../assets/person.png" alt="paciente3" class="user-image">
            </button>
            <button mat-icon-button class="btn-user"
                (click)="autoFillFields('vydibiki@socam.me', '123456')">
                <img src="../../../assets/doctor-female.png" alt="especialista1" class="user-image">
            </button>
            <button mat-icon-button class="btn-user"
                (click)="autoFillFields('ale.texis@hotmail.com', '2fab4you')">
                <img src="../../../assets/doctor-male.png" alt="especialista2" class="user-image">
            </button>
            <button mat-icon-button class="btn-user"
                (click)="autoFillFields('ale.escubilla.texis@gmail.com', '2fab4you')">
                <img src="../../../assets/admin.png" alt="administrador" class="user-image">
            </button>
        </div>
    </mat-card-content>
</mat-card>