.loader-overlay {
	position: fixed;
	inset: 0;
	background: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 2000;
	backdrop-filter: blur(2px);
	animation: fadeIn 0.2s ease-in-out forwards;
	text-align: center;
}

.loader-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.spinner-logo {
	width: 180px;
	height: 180px;
	animation: pulse 1.5s ease-in-out infinite;
}

.loader-text {
	color: #f5f5f5;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.5px;
}

.dots::after {
	content: '';
	display: inline-block;
	width: 0.8em;
	text-align: left;
	animation: dots 1.5s steps(4, end) infinite;
}

@keyframes dots {

	0%,
	20% {
		content: '';
	}

	40% {
		content: '.';
	}

	60% {
		content: '..';
	}

	80%,
	100% {
		content: '...';
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.08);
	}

	100% {
		transform: scale(1);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}