// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@import "@angular/material/prebuilt-themes/azure-blue.css";


html {
	--mat-sys-primary: #EE7734;
	--mat-sys-primary-container: #FCE8DC;
	--mat-sys-secondary: #737F85;
	--mat-sys-secondary-container: #E0E2EC;
	--mat-sys-tertiary: #415464;
	--mat-sys-tertiary-container: #DCE0E7;
	--mat-sys-surface: #FFFFFF;
	--mat-sys-background: #F7F7F7;
	--mat-sys-on-primary: #FFFFFF;
	--mat-sys-on-secondary: #FFFFFF;
	--mat-sys-on-tertiary: #FFFFFF;
	--mat-sys-on-surface: #000000;
}

$color-primary: #EE7734;
$color-primary-hover: #ED691D;
$color-secondary: #737F85;
$color-secondary-hover: #687378;
$color-background: #737F85;
$color-surface: #FFFFFF;
$color-text-primary: #415464;
$color-text-light: #FFFFFF;
$color-success: #2e7d32;
$color-success-hover: #1b5e20;
$color-error: #c62828;
$color-error-hover: #b71c1c;

* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif !important;
}

html,
body {
	height: 100%;
}

.app-bg {
	background-color: $color-secondary;
}

.app-bg-light {
	background-color: $color-surface;
}

.app-text-primary {
	color: $color-text-primary !important;
}

div.swal2-icon {
	border: none !important;
}

.captcha-dialog-centered .mat-mdc-dialog-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.captcha-dialog-centered .mat-mdc-dialog-surface {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.app-text-success {
	color: $color-success !important;
}

.app-text-error {
	color: $color-error-hover !important;
}

.img-white {
	filter: brightness(0) invert(1);
}







.btn-orange {
	background: #9F5420 !important;
	color: #FFF !important;
}

.btn-blue {
	background: #1C70B2 !important;
	color: #FFF !important;
}

.btn-green {
	background: #3DA643 !important;
	color: #FFF !important;
}

.btn-red {
	background: #B24753 !important;
	color: #FFF !important;
}

.btn-gray {
	background: #4F4F4E !important;
	color: #FFF !important;
}

.btn-purple {
	background: #694996 !important;
	color: #FFF !important;
}

.btn-cyan {
	background: #15847F !important;
	color: #FFF !important;
}

.btn-yellow {
	background: #8A6E00 !important;
	color: #FFF !important;
}

.btn-lime {
	background: #526405 !important;
	color: #FFF !important;
}

.badge-pill {
	padding: 2px 12px;
	border-radius: 20px;
	display: inline-block;
	font-size: 0.875rem;
	font-weight: bold;
	text-align: center;
	white-space: nowrap;
}

.badge-pending {
	color: #9F5420;
	background: #FFDDC5;
}

.badge-accepted {
	color: #01386E;
	background: #C0D7EA;
}

.badge-cancelled {
	color: #760B33;
	background: #EAC5CF;
}

.badge-rejected {
	color: #222221;
	background: #CECECE;
}

.badge-completed {
	color: #156E1C;
	background: #C9E6CB;
}