<div>
  <form>
    <div *ngFor="let e of especialidades; let i = index">
      <input
        type="checkbox"
        value="{{ e.nombre }}"
        (click)="tocar(e)"
        id="{{ i }}"
      />
      <label class="ms-2" for="{{ i }}">{{ e.nombre }}</label>
    </div>
    <div *ngIf="permitirAniadir" class="d-flex mt-3">
      <div class="row">
        <div class="col-9">
          <input [(ngModel)]="nuevo" class="form-control" />
          <input
            (change)="cambiarImagen($event)"
            type="file"
            class="form-control"
          />
        </div>
        <div class="col-3">
          <button (click)="Aniadir()" class="btn btn-light h-100">
            Añadir especialidad
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
