<app-navbar></app-navbar>
<br><br><br>
<div align=center>
  <mat-card class="animate__animated animate__fadeIn">
    <h1 class="card-title">ESTADÍSTICAS</h1>
    <br>
    <app-login-history></app-login-history>
    <br>
    <mat-divider></mat-divider>
    <br>
    <app-appointments-by-specialty></app-appointments-by-specialty>
    <br>
    <mat-divider></mat-divider>
    <br>
    <app-appointments-per-day></app-appointments-per-day>
    <br>
    <mat-divider></mat-divider>
    <br>
    <app-appointments-requested-by-specialist></app-appointments-requested-by-specialist>
    <br>
    <mat-divider></mat-divider>
    <br>
    <app-completed-appointments></app-completed-appointments>
    <br>
  </mat-card>
  <br><br>
</div>
<router-outlet></router-outlet>