.captcha-card {
  width: 350px;
  background-color: #e9ebec;
}

.captcha-actions {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.captcha-input {
  margin-right: 10px;
}

.captcha-submit {
  margin-top: 5px;
  margin-right: 10px;
  margin-left: 10px;
  height: 40px;
}

.captcha-refresh {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
}

.captcha-refresh-icon {
  font-size: 24px;
  color: #007bff;
  margin-bottom: 1.2rem;
}

.captcha-background {
  background-image: url(../../../../assets/captcha.jpg);
  height: 3rem;
}

.captcha-code {
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  color: #ffffff;
  opacity: 0.8;
  letter-spacing: 6px;
}

.captcha-form-field {
  width: 150px;
}

.captcha-input {
  font-size: 16px;
}

::ng-deep .captcha-form-field .mat-form-field-flex>.mat-form-field-infix {
  padding: 0.5rem 0 !important;
}

::ng-deep .captcha-form-field .mat-form-field-label-wrapper {
  top: -1em;
}

::ng-deep .captcha-form-field .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-1.1em) scale(.75);
  width: 133.33333%;
}

.green-text {
  color: #2e7d32;
}