mat-card {
	max-width: 600px;
	margin: 1rem auto;
	text-align: center;
}

.decorative-images {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	overflow: hidden;
	z-index: 1;
}

.bubble {
	position: absolute;
	width: 160px;
	height: 160px;
	object-fit: cover;
	border-radius: 50%;
	opacity: 0;
	animation: floatAndFade 18s infinite ease-in-out;
	filter: brightness(0.95) saturate(1.1);
	border: 2px solid #EE7734;
}

.bubble1 {
	top: 10%;
	left: 10%;
	animation-delay: 0s;
}

.bubble2 {
	bottom: 10%;
	right: 15%;
	animation-delay: 5s;
}

.bubble3 {
	bottom: 20%;
	left: 20%;
	animation-delay: 8s;
}

.bubble4 {
	top: 25%;
	right: 10%;
	animation-delay: 12s;
}

@keyframes floatAndFade {
	0% {
		transform: scale(0.8) translateY(20px);
		opacity: 0;
	}

	10%,
	30% {
		transform: scale(1) translateY(0);
		opacity: 0.85;
	}

	40%,
	100% {
		transform: scale(1.1) translateY(-20px);
		opacity: 0;
	}
}

.app-bg::before {
	content: "";
	position: absolute;
	inset: 0;
	background: radial-gradient(circle at center, transparent 60%, rgba(0, 0, 0, 0.85) 100%);
	z-index: 0;
	pointer-events: none;
}